<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    layout/theme.liquid { { sections "header-group" }}
    {% sections 'header-group' %}

    layout/theme.liquid { { content_for_layout }}
    {{ content_for_layout }}

    layout/theme.liquid { { sections "footer-group" }}
    {% sections 'footer-group' %}
  </body>
</html>
