<h1>Hi</h1>
{% if section.settings.enabled %}
  <div>
  ENABLED
  </div>
{% endif %}

{% schema %}
{
  "name": "Name in schema",
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Show",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "name-in-preset"
    }
  ]
}
{% endschema %}
