<h1>Hi</h1>
{% if section.settings.enabled %}
  <div>
  ENABLED
  </div>
{% endif %}
{% if section.settings.main-image %}
  {{ section.settings.main-image | image_url: width: 1000 | image_tag }}
{% endif %}

    {% content_for 'blocks' %}
    -----
{% if section.blocks.size == 0 %}
  no blocks
{% else %}
  {% for block in section.blocks %}
    {{ block.settings.text }}<br>
  {% endfor %}
{% endif %}


{% schema %}
{
  "name": "Name in schema",
  "blocks": [{ "type": "@theme" }],
  "settings": [
    {
      "type": "checkbox",
      "id": "enabled",
      "label": "Show",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "main-image",
      "label": "Main image"
    }
  ],
  "presets": []
}
{% endschema %}
